@page
@model GAE.Pages.Association.ContactoModel
@{
}

<div class="contact">
    <div class="div">
        <div class="overlap-group">
            <footer class="border-top footer text-muted ">
                <div class="container">
                    &copy; 2023 Gestor de Asambleas Estudiantiles
                </div>
            </footer>
        </div>
    </div>
</div>