@page
@model GAE.Pages.Association.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Assembly</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Assembly.AssemblyDate" class="control-label"></label>
                <input asp-for="Assembly.AssemblyDate" class="form-control" />
                <span asp-validation-for="Assembly.AssemblyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assembly.AssemblyStartTime" class="control-label"></label>
                <input asp-for="Assembly.AssemblyStartTime" class="form-control" />
                <span asp-validation-for="Assembly.AssemblyStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assembly.AssemblyEndTime" class="control-label"></label>
                <input asp-for="Assembly.AssemblyEndTime" class="form-control" />
                <span asp-validation-for="Assembly.AssemblyEndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assembly.AssemblyStatus" class="control-label"></label>
                <input asp-for="Assembly.AssemblyStatus" class="form-control" />
                <span asp-validation-for="Assembly.AssemblyStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assembly.AssociationId" class="control-label"></label>
                <input asp-for="Assembly.AssociationId" class="form-control" />
                <span asp-validation-for="Assembly.AssociationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assembly.DelegateId" class="control-label"></label>
                <input asp-for="Assembly.DelegateId" class="form-control" />
                <span asp-validation-for="Assembly.DelegateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assembly.Participants" class="control-label"></label>
                <input asp-for="Assembly.Participants" class="form-control" />
                <span asp-validation-for="Assembly.Participants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assembly.AssemblyFacility" class="control-label"></label>
                <input asp-for="Assembly.AssemblyFacility" class="form-control" />
                <span asp-validation-for="Assembly.AssemblyFacility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
